.header{
    font-size: 2em;
   
}

.main{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.search{
    margin-top: 15px;
    font-size: 1.5em;
}

.category, .price, .rating{
    margin-top: 15px;
}

.category-header, .price-header, .rating-header{
    font-size: 1.5em;
}